@tailwind base;
@tailwind components;
@tailwind utilities;

html{scroll-behavior: smooth;
    overflow-y:scroll ;
    overflow-x:hidden;
    min-width: none;
   
width: 100vw;
}

.btn-ghost{
    @apply hover:bg-opacity-0;
    @apply hover:bg-black;
    @apply rounded-full;
    @apply hover:text-white;
}